<h2>Edit Holiday</h2>

<form ng-submit="vm.update()">

  <div class="container">

    <div class="row">

      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="holidayName">Holiday Name</label>
          <input class="form-control" type="text" name="holidayName" placeholder="Holiday Name" id="holidayName" ng-model="vm.holiday.holidayName" required unique>
        </div>
      </div>

      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="destination">Destination</label>
          <input class="form-control" type="text" name="destination" placeholder="Destination" id="destination" ng-model="vm.holiday.destination" required unique>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="dateArrive">Arrival Date</label>
          <input class="form-control" type="date" name="dateArrive" placeholder="Arrival Date" id="dateArrive" ng-model="vm.holiday.dateArrive" required unique>
        </div>
      </div>

      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="dateDepart">Departure Date</label>
          <input class="form-control" type="date" name="dateDepart" placeholder="Arrival Date" id="dateDepart" ng-model="vm.holiday.dateDepart" required unique>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="attendees">Attendees</label>
          <input class="form-control" type="text" name="attendees" placeholder="Attendees" id="attendees" ng-model="vm.holiday.attendees" required unique>
        </div>
      </div>

      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="attendees">Attendees</label>
          <p>This needs to be a dropdown with all users that is searchable and a box to show who has already been added</p>
          <p>{{ vm.holiday.attendees }}</p>
        </div>
      </div>

    </div>

    <button class="btn btn-primary">Edit Holiday</button>

  </div>
</form>

<form ng-submit="vm.delete()">
  <div class="container">

    <button class="btn btn-primary">Delete</button>

  </div>
</form>
