<h2>Edit Holiday</h2>

<section class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <form ng-submit="vm.submit()">
        <div class="field">
          <label class="label" for="holidayname">Holiday Name</label>
          <p class="control">
            <input class="input" type="text" name="username" ng-model="CAN-INSERT-ONCE-HOLIDAY-MODEL-IS-MADE">
          </p>
        </div>
        <div class="field">
          <label class="label" for="Destination">Destination</label>
          <p class="control">
            <input class="input" type="text" name="email" ng-model="CAN-INSERT-ONCE-HOLIDAY-MODEL-IS-MADE">
          </p>
        </div>
        <div class="field">
          <label class="label" for="date">Take off date</label>
          <p class="control">
            <input class="date" type="date" name="date" ng-model="CAN-INSERT-ONCE-HOLIDAY-MODEL-IS-MADE">
          </p>
        </div>
        <div class="field">
          <label class="label" for="date">Fly home date</label>
          <p class="control">
            <input class="date" type="date" name="date" ng-model="CAN-INSERT-ONCE-HOLIDAY-MODEL-IS-MADE">
          </p>
        </div>

          <h2>Dropdown linked with user Model</h2>

        <div class="field">
          <p class="control">
            <input type="submit" class="button is-primary is-fullwidth" value="Register">
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
