<h2 class="text-center">Edit Holiday</h2>

<form ng-submit="vm.update()">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="holidayName">Holiday Name</label>
          <input class="form-control" type="text" name="holidayName" placeholder="{{ vm.holiday.holidayName }}" id="holidayName" ng-model="vm.holiday.holidayName" required>
        </div>
      </div>

      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="destination">Destination</label>
          <input class="form-control" type="text" name="destination" placeholder="{{ vm.holiday.destination }}" id="destination" ng-model="vm.holiday.destination" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="dateArrive">Arrival Date</label>
          <input class="form-control" type="date" name="dateArrive" placeholder="{{ vm.holiday.dateArrive }}" id="dateArrive" ng-model="vm.holiday.dateArrive" required>
        </div>
      </div>

      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="dateDepart">Departure Date</label>
          <input class="form-control" type="date" name="dateDepart" placeholder="{{ vm.holiday.dateDepart }}" id="dateDepart" ng-model="vm.holiday.dateDepart" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="attendees">Attendees</label>
          <input class="form-control" type="text" name="attendees" placeholder="{{ vm.holiday.attendees }}" id="attendees" ng-model="vm.holiday.attendees" required>
        </div>
      </div>

      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="attendees">Attendees</label>
          <p>This needs to be a dropdown with all users that is searchable and a box to show who has already been added</p>
          <p>{{ vm.holiday.attendees }}</p>
        </div>
      </div>
    </div>
    <button class="btn btn-primary">Edit Holiday</button>
    <button class="btn btn-danger" ui-sref="destinationsIndex">Cancel</button>
  </div>
</form>

<form ng-submit="vm.delete()">
  <div class="container">
    <button class="btn btn-danger">Delete Holiday</button>
  </div>
</form>
