<h2 class="text-center">Create Holiday</h2>

<form ng-submit="vm.create()">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="holidayName">Holiday Name</label>
          <input class="form-control" type="text" name="holidayName" placeholder="Holiday Name" id="holidayName" ng-model="vm.newHoliday.holidayName" required>
        </div>
      </div>

      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="destination">Destination</label>
          {{ vm.destination.all }}
          <input
          type="text"
          ng-model="vm.newHoliday.destination"
          uib-typeahead="destination as destination.town for destination in vm.all | filter:{ town: $viewValue }"
          class="form-control"
          typeahead-on-select="vm.pickDestination()" name="destination" id="destination" required>

          <!-- <input class="form-control" type="text" name="destination" placeholder="Destination" id="destination" ng-model="vm.newHoliday.destination" required> -->

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="dateArrive">Arrival Date</label>
          <input class="form-control" type="date" name="dateArrive" placeholder="Arrival Date" id="dateArrive" ng-model="vm.newHoliday.dateArrive" required>
        </div>
      </div>

      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="dateDepart">Departure Date</label>
          <input class="form-control" type="date" name="dateDepart" placeholder="Arrival Date" id="dateDepart" ng-model="vm.newHoliday.dateDepart" required>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="attendees">Attendees</label>
          <input
          type="text"
          ng-model="vm.selectedAttendees"
          uib-typeahead="user as user.username for user in vm.all | filter:{ username: $viewValue }"
          class="form-control"
          typeahead-on-select="vm.invite()" name="user" id="user" required>
        </div>
      </div>

      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label>Selected Attendees</label>
          <p>{{ vm.newHoliday.attendees }}</p>
        </div>
      </div>

    </div>

    <button class="btn btn-primary">Create Holiday</button>
    <button class="btn btn-danger" ui-sref="destinationsIndex">Cancel</button>
  </div>
</form>
