<h2>Create Holiday</h2>

<form ng-submit="vm.create()">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="holidayName">Holiday Name</label>
          <input class="form-control" type="text" name="holidayName" placeholder="Holiday Name" id="holidayName" ng-model="vm.newHoliday.holidayName" required>
        </div>
      </div>

      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="destination">Destination</label>
          <input class="form-control" type="text" name="destination" placeholder="Destination" id="destination" ng-model="vm.newHoliday.destination" required>
          <p>Needs to be a dropdown from the internal API</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="dateArrive">Arrival Date</label>
          <input class="form-control" type="date" name="dateArrive" placeholder="Arrival Date" id="dateArrive" ng-model="vm.newHoliday.dateArrive" required>
        </div>
      </div>

      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="dateDepart">Departure Date</label>
          <input class="form-control" type="date" name="dateDepart" placeholder="Arrival Date" id="dateDepart" ng-model="vm.newHoliday.dateDepart" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="attendees">Attendees</label>
          <input class="form-control" type="text" name="attendees" placeholder="Attendees" id="attendees" ng-model="vm.newHoliday.attendees" required>
        </div>
      </div>

      <div class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="attendees">Attendees</label>
          <p>This needs to be a dropdown with all users that is searchable and a box to show who has already been added</p>
          <p>{{ vm.newHoliday.attendees }}</p>
        </div>
      </div>
    </div>

    <button class="btn btn-primary">Create Holiday</button>
  </div>
</form>
