<h2>Show Holiday</h2>

<!-- Design Holiday Show -->
<div class="comments">
  <h2>Comments</h2>
  <p ng-if="!vm.holiday.comments.length">0 comments</p>
  <ul class="comments__created">
    <li ng-repeat="comment in vm.holiday.comments track by $index">
      <a ui-sref="usersShow({ id: comment.createdBy.id })"><strong>{{ comment.createdBy.username }}</strong></a> - {{ comment.text }} <button class="button" ng-click="vm.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUserId === comment.createdBy.id">Delete</button>
    </li>
  </ul>
  <form ng-submit="vm.addComment()" ng-if="main.isAuthenticated()">
    <label>Add comment</label>
    <textarea ng-model="vm.newComment.text"></textarea>
    <button class="button button--full">Comment</button>
  </form>

</div>
