<h2>Edit User</h2>

<section class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <form ng-submit="vm.submit()">
        <div class="field">
          <label class="label" for="email">Username</label>
          <p class="control">
            <input class="input" type="text" name="username" id="username" ng-model="vm.user.username">
          </p>
        </div>
        <div class="field">
          <label class="label" for="email">Email</label>
          <p class="control">
            <input class="input" type="text" name="email" id="email" ng-model="vm.user.email">
          </p>
        </div>
        <div class="field">
          <label class="label" for="password">Password</label>
          <p class="control">
            <input class="input" type="password" name="password" id="password" ng-model="vm.user.password">
          </p>
        </div>
        <div class="field">
          <label class="label" for="passwordConfirmation">Password Confirmation</label>
          <p class="control">
            <input class="input" type="password" name="passwordConfirmation" id="passwordConfirmation" ng-model="vm.user.passwordConfirmation">
          </p>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="ski">
          <label class="form-check-label" for="inlineRadio1">Ski</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="snowboard">
          <label class="form-check-label" for="inlineRadio2">Snowboard</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="both">
          <label class="form-check-label" for="inlineRadio3">Both</label>
        </div>

        <form class="form-inline">
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Level</label>
          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>Choose...</option>
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
          </select>
        </form>

        <h1>ADD FILESTACK HERE FOR IMAGE UPLOAD</h1>

          <div class="field">
            <p class="control">
              <input type="submit" class="button is-primary is-fullwidth" value="Register">
            </p>
          </div>
        </form>
      </div>
    </div>
  </section>
