<h2>Register</h2>

<section class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <form ng-submit="vm.submit()">
        <div class="field">
          <label class="label" for="email">Username</label>
          <p class="control">
            <input class="input" type="text" name="username" id="username" ng-model="vm.user.username">
          </p>
        </div>
        <div class="field">
          <label class="label" for="email">Email</label>
          <p class="control">
            <input class="input" type="text" name="email" id="email" ng-model="vm.user.email">
          </p>
        </div>
        <div class="field">
          <label class="label" for="password">Password</label>
          <p class="control">
            <input class="input" type="password" name="password" id="password" ng-model="vm.user.password">
          </p>
        </div>
        <div class="field">
          <label class="label" for="passwordConfirmation">Password Confirmation</label>
          <p class="control">
            <input class="input" type="password" name="passwordConfirmation" id="passwordConfirmation" ng-model="vm.user.passwordConfirmation">
          </p>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="skiRadio" value="ski" ng-model="vm.user.sport">
          <label class="form-check-label" for="skiRadio">Ski</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="snowboardRadio" value="snowboard" ng-model="vm.user.sport">
          <label class="form-check-label" for="snowboardRadio">Snowboard</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="bothRadio" value="both" ng-model="vm.user.sport">
          <label class="form-check-label" for="bothRadio">Both</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="beginnerRadio" value="beginner" ng-model="vm.user.abilityLevel">
          <label class="form-check-label" for="beginnerRadio">Beginner</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="intermediateRadio" value="intermediate" ng-model="vm.user.abilityLevel">
          <label class="form-check-label" for="intermediateRadio">Intermediate</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="advancedRadio" value="advanced" ng-model="vm.user.abilityLevel">
          <label class="form-check-label" for="advancedRadio">Advanced</label>
        </div>

        <h1>ADD FILESTACK HERE FOR IMAGE UPLOAD</h1>

          <div class="field">
            <p class="control">
              <input type="submit" class="button is-primary is-fullwidth" value="Register">
            </p>
          </div>
        </form>
      </div>
    </div>
  </section>
