<div class="background-image">
  <div class="container edit-profile">
    <div class="row form-box">
      <div class="col-md-10 col-md-offset-1 col-lg-12">
        <div class="form">
          <div class="row text-center">
            <h2 class="form-header-row">Register</h2>
          </div>
          <form ng-submit="vm.submit()">
            <div class="container">
            <div class="row">
              <!-- USERNAME,EMAIL,PASSWORD -->
              <div class="col-xs-12 col-lg-6">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input class="form-control" type="text" name="newUsername" placeholder="Username" id="newUsername" ng-model="vm.newUser.username" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input class="form-control" type="email" name="email" placeholder="Email" id="email" ng-model="vm.newUser.email" required>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input class="form-control" type="password" name="password" placeholder="Password" id="password" ng-model="vm.newUser.password" required>
                </div>
                <div class="form-group">
                  <label for="passwordConfirmation">Password confirmation</label>
                  <input class="form-control" type="password" name="passwordConfirmation" placeholder="Password confirmation" id="passwordConfirmation" ng-model="vm.newUser.passwordConfirmation" required>
                </div>
              </div>

              <!-- ROW WITH SPORT AND ABILITY -->

              <div class="col-xs-12 col-lg-6">
                <div class="row">
                  <div class="col-xs-12 col-lg-5">
                    <div class="form-group">
                      <label>Sport</label>
                      <div class="form-check">
                        <!-- <legend class="col-form-label col-sm-3 pt-0">Sport</legend> -->

                        <!-- <div class="form-check">
                        <input class="form-check-input" type="radio" name="abilityLevel" id="ski" value="ski" ng-model="vm.newUser.sport" ng-checked="(vm.newUser.sport == 'ski')">
                        <label class="form-check-label" for="ski">Ski</label> -->

                        <label>
                          <input class="form-check-input" type="radio" name="sportRadios" id="ski" value="ski" ng-model="vm.newUser.sport" ng-checked="(vm.newUser.sport == 'ski')"> <span class="label-text">Ski</span>
                        </label>
                      </div>
                      <div class="form-check">
                        <label>
                          <input class="form-check-input" type="radio" name="sportRadio" id="snowboard" value="snowboard" ng-model="vm.newUser.sport" ng-checked="(vm.newUser.sport == 'snowboard')"> <span class="label-text">Snowboard</span>
                        </label>
                      </div>
                      <div class="form-check">
                        <label>
                          <input class="form-check-input" type="radio" name="sportRadio" id="both" value="both" ng-model="vm.newUser.sport" ng-checked="(vm.newUser.sport == 'both')"> <span class="label-text">Both</span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-lg-5">
                    <div class="form-group">
                      <label>Ability</label>
                      <div class="form-check">
                        <label>
                          <input class="form-check-input" type="radio" name="abilityRadios" id="beginner" value="beginner" ng-model="vm.newUser.abilityLevel" ng-checked="(vm.newUser.abilityLevel == 'beginner')"> <span class="label-text">Beginner</span>
                        </label>
                      </div>
                      <div class="form-check">
                        <label>
                          <input class="form-check-input" type="radio" name="abilityRadios" id="intermediate" value="intermediate" ng-model="vm.newUser.abilityLevel" ng-checked="(vm.newUser.abilityLevel == 'intermediate')"> <span class="label-text">Intermediate</span>
                        </label>
                      </div>

                      <div class="form-check">
                        <label>
                          <input class="form-check-input" type="radio" name="abilityRadios" id="advanced" value="advanced" ng-model="vm.newUser.abilityLevel" ng-checked="(vm.newUser.abilityLevel == 'advanced')"> <span class="label-text">Advanced</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group upload-button-container">
                      <label for="file-upload">Upload Your Profile Picture</label>
                      <div class="container user-image">
                        <div class="field" ng-if="vm.newUser.image">
                          <div class="control">
                            <figure>
                              <img src="{{ vm.newUser.image }}" alt="user-profile-picture" class="profile-image">
                            </figure>
                          </div>
                        </div>
                      </div>
                      <button class="landing-buttons" id="file-upload" type="button" ng-model="vm.newUser.image" upload-image>Upload</button>
                    </div>
                    <br>
                  </div>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <button class="landing-buttons" >Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
