<div class="pageEnd">
  <h2>Coded by Evelina 👩🏼‍💻, Charlotte 👩🏻‍💻 and Patrick 👨🏻‍💻 for WDI Project 3, General Assembly London</h2>

  <a href="#">Contact Evelina</a><a href="#">Evelina's LinkedIn</a><a href="#">Evelina's Github</a>

  <a href="mailto:charlottemarydavies@gmail.com">Contact Charlotte</a><a href="https://www.linkedin.com/in/charlottemdavies/">Charlotte's LinkedIn</a><a href="https://github.com/CharlotteMD">Charlotte's Github</a>

  <a href="#">Contact Patrick</a><a href="#">Patrick's LinkedIn</a><a href="#">Patrick's Github</a>
</div>
