<div class="landing-page-image">

  <div class="container">
    <div class="row landing-page-box">
      <div class="col-md-6 col-md-offset-3">
        <div class="landing-page-login">
          <h2 class="text-center">APPrès</h2>
          <p class="text-center">The app for planning your winter holiday</p>
          <div class="row text-center">
              <button type="login" name="login" ui-sref="login" class="btn btn-primary">Login</button>
              <button type="register" name="register" ui-sref="register" class="btn btn-primary">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
