<div class="landing-page-image">
  <div class="container">
    <div class="row landing-page-box">
      <div class="col-md-6 col-md-offset-3">
        <div class="landing-page-login">
          <div class="row text-center">
            <h1 class="appres-row">APPrès</h1>
            <h4>The app for planning your winter holiday</h4>
          </div>
          <div class="row text-center">
            <button type="login" name="login" ui-sref="login" class="landing-buttons">LOGIN</button>
            <button type="register" name="register" ui-sref="register" class="landing-buttons">REGISTER</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
