<h1>Destinations Index</h1>
<!-- <div class="jumbotron jumbotron-fluid">
<div class="container">
<img src="../images/jorg-angeli-406235.jpg" alt="">
</div>
</div> -->

<div class="container">
  <div class="row index-row">
    <div ng-repeat="destination in vm.all" class="col-sm-6 col-md-4 col-lg-3 image-container">
      <a href="/destinations/{{destination.id}}"><img class="index-image" ng-src="{{ destination.image }}"></a>
    </div>
    <p class="place-name">{{ destination.town }}</p>
  </div>
</div>
