<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="destinations">{{ vm.destination.town }}, {{ vm.destination.country }}</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>{{ vm.destination.overview }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="stats">
        <ul>
          <p class="run-levels">Beginner Runs - <span class="bold-beginner">{{ vm.destination.green }}%</span></p>
          <p class="run-levels">Intermediate Runs - <span class="bold-intermediate">{{ vm.destination.blue }}%</span></p>
          <p class="run-levels">Advanced Runs- <span class="bold-advanced">{{ vm.destination.red }}%</span></p>
          <p class="run-levels">Expert Runs - <span class="bold-expert">{{ vm.destination.black }}%</span></p>
          <br>
          <p>Great For: {{ vm.destination.greatFor }}</p>
          <p>Number of Lifts: {{ vm.destination.lifts }}</p>
          <p>Altitude: {{ vm.destination.altitude }}</p>
          <!-- <p>Weather</p> -->
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <img src="{{vm.destination.image}}" alt="{{ vm.destination.town}}">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <google-map center="{lat: vm.destination.lat, lng: vm.destination.lng}" content-string="{{ place.name }}" found-places="vm.foundPlaces"></google-map>
    </div>
    <div class="col-md-6">
      <h3>Après Ski Destinations</h3>
      <div class="row">
        <div ng-repeat="place in vm.foundPlaces" class="col-lg-6 col-sm-6 col-xs-12" >
          <div class="cardshow">
            <h4>{{ place.name }}</h4>
            <p>Rating: {{ place.rating }} stars</p>
            <button ng-show="vm.currentUser && vm.checkUserFavourites(place)" ng-click="vm.addFavourite(place)">⭐️</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
