<!DOCTYPE html>
<html ng-app="appres">
<head>
  <base href="/"/>
  <title>APPrès Ski</title>
  <base href="/">
  <link rel="stylesheet" type="text/css" href="../scss/style.scss">
  <link href="https://fonts.googleapis.com/css?family=Heebo|Roboto:700" rel="stylesheet">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main" ng-class="main.pageName">

<nav class="navbar navbar-expand-lg bg-light">
  <a class="navbar-brand" href="/">APPrès Ski</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" ui-sref="destinationsIndex">DESTINATIONS</a></li>
      <li class="nav-item"><a class="nav-link" ui-sref="holidayIndex">MY HOLIDAYS</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="nav-item" ui-sref="login" ng-if="!main.isAuthenticated()">LOGIN</a></li>
      <li><a class="nav-item" ui-sref="register" ng-if="!main.isAuthenticated()">REGISTER</a></li>
      <li><a class="nav-item nav-link" ng-click="main.logout()" ng-if="main.isAuthenticated()">LOGOUT</a></li>
    </ul>
  </div>
</nav>


<h1>APPrès Ski</h1>
<main ui-view></main>
</body>
</html>
