

.jumbotron {
  height: 200px;
   .container {
     border: none;
   }
}


.container {
  // border: solid $grey 3px;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;

img {
  margin: 30px 0px;
}

p {
  font-size: 20px;
  margin: 10px;
  text-align: justify;
}

.stats {
    margin-top: 30px;
    padding: 5px;
    background-color: $grey;

p {
  color: white;
  font-weight: 900;
  font-size: 20px;
}
}

  p {
    margin: 10px;

    .bold-beginner {
      color: #1C9400;

    }

    .bold-intermediate {
      color: #0079C2;


    }

    .bold-advanced {
      color: #FF0909;


    }

    .bold-expert {
      color: #000;


    }
  }

  h3 {
    text-decoration: underline;
    text-align: center;
  }
}



.google-map {
  margin: 30px;

}

.cardshow {
  border: 1px solid $grey;
  padding: 7px;
  margin: 10px;
  text-align: center;
  height: 150px;
  background-color: $grey;


  h4 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
    margin: 0px;

  }

  p {
    font-size: 15px;
    color: $primary-color;
    text-align: center;
  }

  button {
    background-color: $grey;
    font-size: 30px;
    padding: 1px;
  }
}

h3 {
  font-size: 40px;
}
