// .destination-show-image {
//   width: 300px;
//   height: 300px;
// }
//
// .destination-show-jumbotron {
//   height: 20px;
// }

.jumbotron {
  height: 200px;
   .container {
     border: none;
   }
}


.container {
  // border: solid $grey 3px;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;

img {
  margin: 30px 0px;
}

p {
  font-size: 20px;
  margin: 10px;
  text-align: justify;
}

.stats {
    // border: solid $grey 1px;
    // margin: 5px;
    padding: 5px;
    background-color: $grey;

p {
  color: white;
  font-weight: 900;
  font-size: 15px;
}
}

  p {
    margin: 10px;

    .bold-beginner {
      color: #1C9400;

    }

    .bold-intermediate {
      color: #0079C2;
      font-weight: 900;
      font-size: 15px;
    }

    .bold-advanced {
      color: #FF0909;
      font-weight: 900;
      font-size: 15px;
    }

    .bold-expert {
      color: #000;
      font-weight: 900;
      font-size: 15px;
    }
  }

  h3 {
    text-decoration: underline;
    text-align: center;
  }
}

.google-map {
  margin: 30px;

}
