div.img-fluid {
  max-width: 100%;
  height: auto;
  margin:0;
  padding:0;
}

.background-image {
  background-image: $image;
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  height: calc(100vh - 56px);
  margin-top: -20px;
}

.form {
  // background-color: $background-color;
  background-color: rgba(255,255,255,0.95);
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-box {
  margin-top: 200px;
}

.edit-profile {
  .form-box {
    margin-top: 20px;
  }
}

.form-header-row {
  margin-bottom: 20px;
  margin-top: 10px;
}

.user-image {
  margin:0;
  padding:0;
}

img.profile-image {
  width: 10%;
  height: auto;
  margin: 10px 0;
}

.upload-button-container {
  display: flex;
  flex-direction: column;
}


div.form-group {
    font-family: $text-font;
    font-size: 14px;
    color: $primary-color;

}
span.label-text {
  font-family: $text-font;
  font-size: 13px;
  // margin: 10px;
  font-weight: normal;
  color: $primary-color;
}
