@import "variables";
// @import "navbar";
// $header-font:  'Times New Roman', serif;
// $text-font: 'Arial', sans-serif;
//$primary-color: #092E58;
// $secondary-color:  #1D1B1C;
// $background-color: snow;
// $effect-color: #ECDD37;

h1 {
  font-family: $header-font;
  color: $primary-color;
}

h2 {
  font-family: $header-font;
  color: $primary-color;
  text-decoration: underline;
}

h3, h4, h5, h6, p {
  font-family: $text-font;
}

h3, p {
  color: $primary-color;
}

h4 {
  color: $primary-color;
}

h5 {
  color: $primary-color;
}

h6 {
  color: $primary-color;
}

a, button {
  font-family: $header-font;
  color: $primary-color;
  font-weight: bold;
  text-decoration: none;
  background-color: $background-color;
  padding: 5px;
  margin: 3px;
}

// Landing page styling

div.img-fluid {
  max-width: 100%;
  height: auto;
  // height: 100vh;
  // width: 100vw;
  // width:100px; /*width of your image*/
  // height:100px; /*height of your image*/

  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */}
