@import "variables";
@import "navbar";
@import "destinationshow";
@import "landingpage";


h1 {
  font-family: $header-font;
  color: $primary-color;
}

h2 {
  font-family: $header-font;
  color: $primary-color;
}

h3, h4, h5, h6, p {
  font-family: $text-font;
}

h3, p {
  color: $primary-color;
}

h4 {
  color: $primary-color;
}

h5 {
  color: $primary-color;
}

h6 {
  color: $primary-color;
}

img {
  max-width: 100%;
}

a, button {
  font-family: $header-font;
  color: $primary-color;
  font-weight: light;
  text-decoration: none;
  background-color: $background-color;
  padding: 5px;
  margin: 3px;
}

.index-row {
  width: 95%;
  margin: 0 auto;
}

.index-container {
  display: flex;
  height: 300px;
  width: 300px;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: -30px;
}

.index-image {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.place-name {
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.google-map {
  height: 300px;
  width: 500px;
  display: inline-block;
}

// Styling for login and register

div.img-fluid {
  max-width: 100%;
  height: auto;
  margin:0;
  padding:0;
}

.background-image {
  background-image: url('../images/snowboarder.jpg');
  background-position: center;
  background-size: cover;
  height: calc(100vh - 56px);
  margin-top: -20px;
}

.form {
  // background-color: $background-color;
  background-color: rgba(255,255,255,0.95);
  padding: 30px;
  margin-top: 30px;
}

.form-box {
  margin-top: 200px;
}
